.container-swith {
    width: 500px;
    height: 300px;
    background-color: #F5F5F5;;
    /* 설정 */
    position: relative;
}

.child-swith {
    width: 40px;
    height: 40px;
    /* 상하좌우 정중앙 정렬하기 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.a-non {
    color: #000;
    text-decoration: none;
}


.popul-story-img {
    width: 300px;
    height: 200px;

}

.primary-story-img {
    height: 200px;
    width: 250px;
}

.s-with-story {
    color: #003986;
}

.s-with-story-top {
    background-color: #57B0E2; color:white; max-height: 500px;
}

.s-d-img {
    width: 350px;
    height: 250px;
}

.image-container {
    width: 55px; /* 원하는 이미지 컨테이너의 너비 설정 */
}

.image-container img {
    width: 100%;
    aspect-ratio: 1/1; /* 1:1 비율 설정 */
    object-fit: cover; /* 이미지가 컨테이너에 꽉 차도록 설정 */
}

.image-container-re {
    width: 55px; /* 원하는 이미지 컨테이너의 너비 설정 */
}

.image-container-re img {
    width: 100%;
    aspect-ratio: 1/1; /* 1:1 비율 설정 */
    object-fit: cover; /* 이미지가 컨테이너에 꽉 차도록 설정 */
}