<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sportsmania.swith.mapper.BoardMapper">
    <select id="getTime" resultType="string">
        select now()
    </select>
    <insert id="insert" parameterType="com.sportsmania.swith.dto.BoardDTO">
        insert into matchboard(board_writer,exercise,startdate,enddate,region,region2,recruitsNum,title,content,b_category,sportsfacility,supporttype)
        values(#{board_writer},#{exercise},#{startdate},#{enddate},#{region},#{region2},#{recruitsNum},#{title},#{content},#{b_category},#{sportsfacility},#{supporttype})
        </insert>
    <select id="selectList" resultType="com.sportsmania.swith.dto.BoardDTO">
        select board_no
        , board_writer as board_writer
        , exercise as exercise
        , startdate as startdate
        , enddate as enddate
        , (DATE_SUB(startdate,interval 1 hour)) as deadline
        , region as region
        , region2 as region2
        , recruitsNum as recruitsNum
        , title as title
        , content as content
        , b_category as b_category
        , finished as finished
        , regdate as regdate
        , clicks as clicks
        , sportsfacility as sportsfacility
        , supporttype as supporttype
        from matchboard
        <where>
            <if test="types != null and types.length > 0">
                <foreach collection="types" item="type" open="(" close=")" separator="OR">
                    <if test="type == 't'.toString()">
                        title like concat('%',#{keyword},'%')
                    </if>
                    <if test="type == 'w'.toString()">
                        board_writer like concat('%',#{keyword},'%')
                    </if>
                </foreach>
            </if>
            <if test="supporttype != null and supporttype.length>0">
                or supporttype = #{supporttype}
            </if>
            <if test="region != null and region.length>0">
                or region = #{region}
            </if>
            <if test="region2 != null and region2.length>0">
                or region2 = #{region2}
            </if>
            <if test="startdate != null and enddate != null">
                AND startdate between #{startdate} and #{enddate}
            </if>
            <if test="finished">
                <trim prefix="and">
                    finished = 1
                </trim>
            </if>
            <if test="b_category != null and b_category.length>0">
                or b_category = #{b_category}
            </if>
        </where>
        order by board_no desc limit #{skip},#{size}
    </select>
    <select id="getCount" resultType="int">
        select count(board_no) from matchboard
    </select>
</mapper>