<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sportsmania.swith.mapper.StoryMapper">

    <insert id="insert" parameterType="com.sportsmania.swith.domain.StoryVO">
        insert into story (user_type,story_writer,s_category,title,content,image_main) values (#{user_type},#{story_writer},#{s_category},#{title},#{content},#{image_main})
    </insert>

    <select id="selectOne" resultType="com.sportsmania.swith.domain.StoryVO">
            select * from story where story_no = #{story_no}
    </select>

    <delete id="delete">
        delete from story where story_no = #{story_no}
    </delete>

    <select id=" likeCount" resultType="com.sportsmania.swith.domain.StoryVO">
        select count(check) from story where story_no = #{story_no}
    </select>

    <update id="update">
        update story set title = #{title} , content = #{content}, s_catecory = #{s_catecory}, image_main = {#image_main} where story_no = #{story_no}
    </update>

    <update id="increaseViewCount" parameterType="Long">
        UPDATE story SET clicks = clicks + 1 WHERE story_no = #{storyNo}
    </update>

    <sql id = "search">
        <where>
            <if test="user_type != null and user_type.length > 0">
                AND user_type IN
                <foreach collection="user_type" item="user_type" open="(" separator="," close=")">
                    #{user_type}
                </foreach>
            </if>
            <if test="s_category != null and s_category.length > 0">
                AND s_category IN
                <foreach collection="s_category" item="s_category" open="(" separator="," close=")">
                    #{s_category}
                </foreach>
            </if>
            <if test="keyword != null and keyword.trim().length() > 0">
                AND (title LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </sql>


    <select id="selectList" resultType="com.sportsmania.swith.domain.StoryVO">
        select * from story
        <include refid = "search"/>
        order by story_no desc limit #{skip}, #{size}
    </select>

    <!-- 전체 개수를 우선 반환하도록 구성 -->
    <select id ="selectCount" resultType="int">
        select count(story_no) from story
        <include refid = "search"/>
    </select>

</mapper>