<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sportsmania.swith.mapper.TeamMemberMapper">
    <insert id="insert" parameterType="com.sportsmania.swith.domain.TeamMemberVO">
        insert into supportteam_member values(#{team_title},#{team_memberId},#{team_fixed})
    </insert>
    <update id="update" parameterType="com.sportsmania.swith.domain.TeamMemberVO">
        update supportteam_member set team_fixed = #{team_fixed} where team_title = #{team_title} and team_memberId =#{team_memberId}
    </update>
    <delete id="deleteTeam">
        delete from supportteam_member where team_title = #{team_tite}
    </delete>
    <delete id="deleteMember" parameterType="com.sportsmania.swith.domain.TeamMemberVO">
        delete from supportteam_member where team_title = #{team_title} and team_memberId = #{team_memberId}
    </delete>
    <select id="selectUser" resultType="com.sportsmania.swith.domain.TeamMemberVO">
        select * from supportteam_member where team_title = #{team_title} and team_fixed = 0
    </select>
    <select id="selectMember" resultType="com.sportsmania.swith.domain.TeamMemberVO">
        select * from supportteam_member where team_title = #{team_title} and team_fixed = 1
    </select>

</mapper>