doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet" href="/css/style.css")

        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")  
        style.
            #messages-container{
                overflow: auto;
                height: 300px;
            }
            .enterRoom{
                background-color: #448C74;
                width: auto;
                height: 30px;
                padding: 5px 10px;
                font-size: 12px;
            }


        
        title Swith_chat
    body
    main
            div
                h2#chatroom 입장한 채팅방:
                    span.room-title #{title} 
                button#leaveRoom(hidden) 채팅방 완전히 나가기
            p#usernameHead #{userNickname} 님, #{title}팀에 오신 걸 환영합니다.
                span(hidden)
                    button.enterRoom 목록이동
            p(hidden)#username #{userNickname}
            div#welcome
                form
                    button.enterRoom 입장
                h4 나의 채팅방목록
                ul#chatroom-list
            div#userRooms
                //h4 채팅목록:
                //ul
            div#room
                h3
                div
                    ul#messages-container
                form#msg
                    input(placeholder="message",required, type="text")
                    button.enterRoom 보내기
            script(src="/socket.io/socket.io.js")   
            script(src="/public/js/app.js")