doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
       
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")  
        style.  
            #messages-container{
                height: 300px;
                overflow-y: auto;
                border: 1px solid $ccc;
            }
        
        title Swith_chat
    body
    main
            div
                h2#chatroom 입장한 채팅방:
                    span.room-title #{title} 
                button#leaveRoom(hidden) 채팅방 완전히 나가기
            p#usernameHead #{userNickname} 님, #{title}팀에 오신 걸 환영합니다.
            p(hidden)#username #{userNickname}
            div#welcome
                form
                    //input(placeholder="room name", required, type="text")
                    button Enter Room
                h4 나의 채팅방목록
                ul#chatroom-list
            div#userRooms
                //h4 채팅목록:
                //ul
            div#room
                h3
                p 대화내용  
                div
                    ul#messages-container
                form#msg
                    input(placeholder="message",required, type="text")
                    button Send
            script(src="/socket.io/socket.io.js")   
            script(src="/public/js/app.js")