<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Around | Account - Overview</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Around - Multipurpose Bootstrap HTML Template">
    <meta name="keywords" content="bootstrap, business, corporate, coworking space, services, creative agency, dashboard, e-commerce, mobile app showcase, saas, multipurpose, product landing, shop, software, ui kit, web studio, landing, dark mode, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon/site.webmanifest">
    <link rel="mask-icon" color="#6366f1" href="../assets/favicon/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="../assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="white">
    <!-- Theme mode-->
    <script>
      let mode = window.localStorage.getItem('mode'),
          root = document.getElementsByTagName('html')[0];
      if (mode !== undefined && mode === 'dark') {
        root.classList.add('dark-mode');
      } else {
        root.classList.remove('dark-mode');
      }
      
      
    </script>
    <!-- Page loading styles-->
    <style>
      
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .dark-mode .page-loading {
        background-color: #121519;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: #6f788b;
      }
      .dark-mode .page-loading-inner > span {
        color: #fff;
        opacity: .6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        background-color: #d7dde2; 
        border-radius: 50%;
        opacity: 0;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      .dark-mode .page-spinner {
        background-color: rgba(255,255,255,.25);
      }
      @-webkit-keyframes spinner {
        0% {
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        50% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
      @keyframes spinner {
        0% {
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        50% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
      #file-label {
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        line-height: 100px;
        cursor: pointer;
      }

      #file-label i {
        font-size: 24px;
      }

      #uploaded-image {
        max-width: 100%;
        max-height: 100%;
      }

    #file-label i {
      font-size: 48px;
    }
    </style>
    <!-- Page loading scripts-->
    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 1500);
        };
      })();
      
    </script>
    <!-- Import Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet" id="google-font">
    <!-- Vendor styles-->
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../assets/css/theme.min.css">
  </head>
  <body style="background-color: #F6F9FC;">
    <header class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <a href="#" class="navbar-brand">
            <span class="text-primary flex-shrink-0 me-2">
              <svg version="1.1" width="35" height="32" viewBox="0 0 36 33" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M35.6,29c-1.1,3.4-5.4,4.4-7.9,1.9c-2.3-2.2-6.1-3.7-9.4-3.7c-3.1,0-7.5,1.8-10,4.1c-2.2,2-5.8,1.5-7.3-1.1c-1-1.8-1.2-4.1,0-6.2l0.6-1.1l0,0c0.6-0.7,4.4-5.2,12.5-5.7c0.5,1.8,2,3.1,3.9,3.1c2.2,0,4.1-1.9,4.1-4.2s-1.8-4.2-4.1-4.2c-2,0-3.6,1.4-4,3.3H7.7c-0.8,0-1.3-0.9-0.9-1.6l5.6-9.8c2.5-4.5,8.8-4.5,11.3,0L35.1,24C36,25.7,36.1,27.5,35.6,29z">
              </svg>
            </span>
            S-With
          </a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse1">
            <span class="navbar-toggler-icon"></span>
          </button>
          <nav class="collapse navbar-collapse" id="navbarCollapse1">
            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a href="#" class="nav-link">매칭라운지</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">서포터팀</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">플레이윗미</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">스토리</a>
              </li>
      
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">구인/팀 & 스토리 생성</a>
                <ul class="dropdown-menu">
                  <li><a href="#" class="dropdown-item">매칭라운지 글 쓰기</a></li>
                  <li><a href="#" class="dropdown-item">서포터팀원 구하기</a></li>
                  <li><a href="#" class="dropdown-item">플레이메이트 구하기</a></li>
                  <li class="dropdown-divider"> </li>
                  <li href="#"><a class="dropdown-item">서포터 팀 생성</a></li>
                  <li href="#"><a class="dropdown-item">스토리 생성</a></li>
                  <li href="#"><a class="dropdown-item">스토리 생성</a></li>
      
                </ul>
              </li>
            </ul>

            <div style="background-color: #00ab6c;" >
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" th:text="${#session.getAttribute('user').name}"></a>
                  <ul class="dropdown-menu">
                    <li><a href="/members/mypage" class="dropdown-item">마이페이지</a></li>
                    <li><a href="#" class="dropdown-item">내 활동내역</a></li>
                    <li><a href="/info/logout" class="dropdown-item" style="color: red">log out</a></li>
                    <li><a href="#" class="dropdown-item">나의 팀</a></li>

                    <li href="#"><a class="dropdown-item">찜 목록</a></li>
                    <li href="#"><a class="dropdown-item">당신을 위한 추천!</a></li>

                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>


      <!-- Page content-->
      <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5" style="background-color: #F6F9FC;">
        <div class="row pt-sm-2 pt-lg-0">
          <!-- Sidebar (offcanvas on sreens < 992px)-->
          <aside class="col-lg-3 pe-lg-4 pe-xl-5 mt-n3">
            <div class="position-lg-sticky top-0">
              <div class="d-none d-lg-block" style="padding-top: 105px;"></div>
              <div class="offcanvas-lg offcanvas-start" id="sidebarAccount">
                <button class="btn-close position-absolute top-0 end-0 mt-3 me-3 d-lg-none" type="button" data-bs-dismiss="offcanvas" data-bs-target="#sidebarAccount"></button>
                <div class="offcanvas-body">
                  <div class="pb-2 pb-lg-0 mb-4 mb-lg-5"><img class="d-block rounded-circle mb-2" src="../assets/img/avatar/02.jpg" width="80" alt="Isabella Bocouse">
                    <h3 class="h5 mb-1" th:text="${#session.getAttribute('user').name}">이름</h3>
                    <p class="fs-sm text-muted mb-0" th:text="${#session.getAttribute('user').email}">example@gmail.com</p>
                  </div>
                  <nav class="nav flex-column pb-5 pb-lg-5 mb-3">
                    <h4 class="fs-xs fw-medium text-muted text-uppercase pb-1 mb-2">계정</h4><a class="nav-link fw-semibold py-2 px-0 active" href="/info/mypage"><i class="ai-user-check fs-5 opacity-60 me-2"></i>마이페이지</a><a class="nav-link fw-semibold py-2 px-0" href="account-settings.html"><i class="ai-wallet fs-5 opacity-60 me-2"></i>나의활동</a>
                  </nav>
                  <div class="d-none d-lg-block" style="padding-top: 300px;"></div>
                  <div>
                    <nav class="nav flex-column"><a class="nav-link fw-semibold py-2 px-0" href="/members/logout"><i class="ai-logout fs-5 opacity-60 me-2"></i>로그아웃</a></nav>
                  </div>

                  <div>
                    <nav class="nav flex-column"><a class="nav-link fw-semibold py-2 px-0" href="#" style="color: red;"><i class="ai-user-x fs-5 opacity-60 me-2"></i>회원탈퇴</a></nav>
                  </div>
                </div>
              </div>
            </div>
          </aside>
          <!-- Page content-->
          <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            <h1 class="h2 mb-4">정보수정</h1>
            <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4" style="box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);">
                <div class="card-body">
                  <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"><i class="ai-user text-primary lead pe-1 me-2"></i>
                    <h2 class="h4 mb-0">내정보</h2><a class="btn btn-sm btn-secondary ms-auto" href="#" onclick="document.getElementById('myForm').submit();"><i class="ai-edit ms-n1 me-2"></i>수정하기</a>
                  </div>
                  
                  <div class="row py-4 mb-2 mb-sm-3">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <div class="d-md-flex align-items-center">
                            <div class="d-sm-flex align-items-center">
                              <div class="pt-3 pt-sm-0 pb-3">
                                <h3 class="h5 mb-2" th:text="${#session.getAttribute('user').name}">이름<i class="ai-circle-check-filled fs-base text-success ms-2"></i></h3>
                                <div class="text-muted fw-medium d-flex flex-wrap flex-sm-nowrap align-iteems-center">
                                </div>
                              </div>
                            </div>
                        </div>
                      <form id="myForm" method="post" action="/info/my">
                        <table class="table mb-0">
                          <tr>
                            <td class="border-0 text-muted py-1 px-0">전화번호</td>
                            <td class="border-0 text-dark fw-medium py-1 ps-3" th:text="${#session.getAttribute('user').phone}">010-****-****</td>
                          </tr>
                          <tr>
                            <td class="border-0 text-muted py-1 px-0">유형</td>
                            <td class="border-0 text-dark fw-medium py-1 ps-3" th:text="${#session.getAttribute('user').joinType}">서포터or표시x</td>
                          </tr>
                          <tr>
                            <td class="border-0 text-muted py-1 px-0">성별</td>
                            <td class="border-0 text-dark fw-medium py-1 ps-3" th:text="${#session.getAttribute('user').gender}">성별</td>
                          </tr>
                          <tr>
                            <td class="border-0 text-muted py-1 px-0">소통</td>
                            <td class="border-0 text-dark fw-medium py-1 ps-3">휴대폰,이메일</td>
                          </tr>
                          <tr>
                              <td class="border-0 text-muted py-1 px-0">활동지역</td>
                              <td class="border-0 text-dark fw-medium py-1 ps-3" th:text="${#session.getAttribute('user').region}">지역</td>
                            </tr>
                            <tr>
                              <td class="border-0 text-muted py-1 px-0">닉네임</td>
                              <td class="border-0 text-dark fw-medium py-1 ps-3"><input style="border-radius:10px;" type="text" name="nickname" placeholder="닉네임" required></td>
                            </tr>
                            <tr>
                              <td class="border-0 text-muted py-1 px-0">장애여부</td>
                              <td class="border-0 text-dark fw-medium py-1 ps-3" th:text="${#session.getAttribute('user').disabledType}">x or 정보</td>
                            </tr>
                            <tr>
                              <td class="border-0 text-muted py-1 px-0">이메일</td>
                              <td class="border-0 text-dark fw-medium py-1 ps-3"><input style="border-radius:10px;" type="email" placeholder="이메일"name="email" required></td>
                            </tr>
                            <tr>
                              <td class="border-0 text-muted py-1 px-0">관심종목</td>
                              <td class="border-0 text-dark fw-medium py-1 ps-3" ><input style="border-radius:10px;" type="text"  placeholder="관심종목"name="preference" required></td>
                            </tr>
                        </table>
                        <p style="padding-top: 10px; font-weight: bold;">소개글</p>
                        <input type="text" id="textbox" name="introduction" style="border-radius: 10px;height: 150px;" maxlength="100" placeholder="100자 이내">
                      </form>  
                      
                    </div>
                    <!--프로필 이미지 -->

                    <div class="card border-0 col-md-6 d-md-flex justify-content-start" style="padding-left: 15%;">
                      <div class="w-100 border rounded-3 p-4 h-50 c" style="justify-content: center;align-items: center;display: flex;flex-direction: column;height: 300px;">
                        <div  style="flex: 3;overflow: hidden;border-radius: 7px;">
                          <div id="image-container"></div>
                        </div>
                        <div style="flex: 1;">
                          <button onclick="document.getElementById('image-input').click()" id="upload-btn" type="button" class="btn btn-primary" style="position: absolute;left: 50%;bottom: 55%">
                            <i class="ai-user me-2"></i>
                            Upload
                          </button>
                          <input type="file" id="image-input" style="display: none;" onchange="displayImage()">
                        </div>
                          
                      </div>
                      
                    </div>

                    <script>
                      function displayImage() {
                      // input 요소 가져오기
                      var input = document.getElementById("image-input");
                      
                      // 선택된 파일 가져오기
                      var file = input.files[0];
                      
                      // FileReader 객체 생성
                      var reader = new FileReader();
                      
                      // 파일 읽기 완료 후 실행되는 함수 정의
                      reader.onload = function() {
                        // 이미지 요소 생성
                        var img = document.createElement("img");
                        
                        // 이미지 소스 설정
                        img.src = reader.result;
                        
                        // 이미지 크기 조절
                        var container = document.getElementById("image-container");
                        var maxWidth = container.offsetWidth;
                        var maxHeight = container.offsetHeight;
                        var width = img.naturalWidth;
                        var height = img.naturalHeight;
                        if (width > maxWidth) {
                          height *= maxWidth / width;
                          width = maxWidth;
                        }
                        if (height > maxHeight) {
                          width *= maxHeight / height;
                          height = maxHeight;
                        }
                        img.style.width = width + "px";
                        img.style.height = height + "px";
                        
                        // 이미지 요소를 div 요소 안에 추가
                        container.innerHTML = "";
                        container.appendChild(img);
                      };
                      
                      // 파일 읽기 시작
                      reader.readAsDataURL(file);
                    }
                      function uploadImage() {
                        // input 요소 가져오기
                        var input = document.getElementById("image-input");
                        
                        // 선택된 파일 가져오기
                        var file = input.files[0];
                        
                        // 파일 업로드 코드 작성
                        // ...
                      }
                      
                      // 파일 선택 창 열기
                      document.getElementById("image-input").addEventListener("change", function() {
                        // FileReader 객체 생성
                        var reader = new FileReader();
                        
                        // 파일 읽기 완료 후 실행되는 함수 정의
                        reader.onload = function() {
                          // 이미지 요소 생성
                          var img = document.createElement("img");
                          
                          // 이미지 소스 설정
                          img.src = reader.result;
                          
                          // 이미지 요소를 div 요소 안에 추가
                          var container = document.getElementById("image-container");
                          container.appendChild(img);
                        };
                        
                        // 파일 읽기 시작
                        reader.readAsDataURL(this.files[0]);
                      });
                      </script>
                    <!-- -->
                  </div>
                </div>
            </section>
        </div>
      </div>
      <!-- 아래화면-->
      <footer
            class="bg-light py-5"
            style="position: relative; bottom: 0; width:100%;"
            >
  <div class="container">
    <ul class="nav justify-content- py-1 pb-sm-1">
      <li class="nav-item">
        <a
          class="nav-link py-1 px-3 mx-1"
          href="#"
          style="font-size: 1.6rem; font-family: Arial"
          >S-With</a
        >
      </li>
    </ul>
    <ul class="nav">
      <li
        class="nav-item"
        style="margin-right: auto; padding-left: 10px; color: gray"
      >
        contact wnduq@gmail.com
      </li>
      <a class="nav-link py-1 px-3 mx-1" href="#" style="color: gray"
        >이용약관</a
      >
      <a class="nav-link py-1 px-3 mx-1" href="#" style="color: gray"
        >개인정보처리방침</a
      >
      <a class="nav-link py-1 px-3 mx-1" href="#" style="color: gray"
        >서비스소개</a
      >
    </ul>
    <ul class="nav">
      <li
        class="nav justify-content"
        style="margin-right: auto; padding-left: 10px; color: gray"
      >
        Copyright S-With. All rights reserved
      </li>
    </ul>
  </div>
</footer>



  </body>
  </html>