<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>S-With | 서포터팀</title>
    <!-- SEO Meta Tags-->
    <meta
            name="description"
            content="Around - Multipurpose Bootstrap HTML Template"
    />
    <meta
            name="keywords"
            content="bootstrap, business, corporate, coworking space, services, creative agency, dashboard, e-commerce, mobile app showcase, saas, multipurpose, product landing, shop, software, ui kit, web studio, landing, dark mode, html5, css3, javascript, gallery, slider, touch, creative"
    />
    <meta name="author" content="Createx Studio" />
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon and Touch Icons-->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../assets/favicon/apple-touch-icon.png"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../assets/favicon/favicon-32x32.png"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
    <link
            rel="mask-icon"
            color="#6366f1"
            href="../assets/favicon/safari-pinned-tab.svg"
    />
    <meta name="msapplication-TileColor" content="#080032" />
    <meta
            name="msapplication-config"
            content="../assets/favicon/browserconfig.xml"
    />
    <meta name="theme-color" content="white" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!--<script>
        $(document).ready(function(){
            console.log("hello~~")
            $.ajax({
                url: "/teams/demo",
                type: "GET",
                success: function(dtoList){
                    $.each(dtoList, function(index, team){
                        console.log(team);
                        const div = $(
                            /*"<article class=\"masonry-grid-item\">\n" +*/
                            "                <div class=\"card border-0 bg-secondary\">\n" +
                            "                    <img\n" +
                            "                            class=\"card-img-top\"\n" +
                            "                            src=\"../assets/img/avatar/11.jpg\"\n" +
                            "                            style=\"height:200px\"\n" +
                            "                    />\n" +
                            "                    <div class=\"card-body pb-4\">\n" +
                            "                        <div class=\"d-flex align-items-center mb-4 mt-n1\">\n" +
                            "                  <span class=\"fs-sm \">"+team.deadline+"</span\n" +
                            "                  ><span class=\"fs-xs mx-3\"><a class=\"badge text-nav fs-xs border\" href=\"#\">"+team.sido+" "+team.sigungu+"</a></span\n" +
                            "                        ><a class=\"badge text-nav fs-xs border\" href=\"#\">모집중</a>\n" +
                            "                        </div>\n" +
                            "                        <h3 class=\"h4 card-title\">\n" +
                            "                            <a href=\"blog-single-v2.html\">"+team.team_title+"</a>\n" +
                            "                        </h3>\n" +
                            "                        <p class=\"card-text\">"+team.content +"</p>\n" +
                            "                    </div>\n" +
                            "                    <div class=\"card-footer pt-3  d-flex align-items-center justify-content-between\">\n" +
                            "                        <a\n" +
                            "                                class=\"d-flex align-items-center text-decoration-none pb-2\"\n" +
                            "                                href=\"#\"\n" +
                            "                        ><img\n" +
                            "                                class=\"rounded-circle\"\n" +
                            "                                src=\"../assets/img/avatar/06.jpg\"\n" +
                            "                                width=\"48\"\n" +
                            "                                alt=\"Post author\"\n" +
                            "                        />\n" +
                            "                            <h6 class=\"ps-3 mb-0\">"+team.team_writer +"</h6></a\n" +
                            "                        ><span><i class=\"ai-user\">"+team.member_num+"</i></span>\n" +
                            "                    </div>\n" +
                            "                </div>\n" //+
                            /*"            </article>"*/
                        );
                        $("#itemsGrid").append(div);
                        console.log("list demo 성공");
                    })
                },
                error: function(){
                    console.log("list demo 실패");
                }
            })
        })
    </script>-->
    <!-- Theme mode-->
    <script>
        let mode = window.localStorage.getItem("mode"),
            root = document.getElementsByTagName("html")[0];
        if (mode !== undefined && mode === "dark") {
            root.classList.add("dark-mode");
        } else {
            root.classList.remove("dark-mode");
        }
    </script>
    <!-- Page loading styles-->
    <style>
        .page-loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.4s 0.2s ease-in-out;
            transition: all 0.4s 0.2s ease-in-out;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
        }
        .dark-mode .page-loading {
            background-color: #121519;
        }
        .page-loading.active {
            opacity: 1;
            visibility: visible;
        }
        .page-loading-inner {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            text-align: center;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
            opacity: 0;
        }
        .page-loading.active > .page-loading-inner {
            opacity: 1;
        }
        .page-loading-inner > span {
            display: block;
            font-family: "Inter", sans-serif;
            font-size: 1rem;
            font-weight: normal;
            color: #6f788b;
        }
        .dark-mode .page-loading-inner > span {
            color: #fff;
            opacity: 0.6;
        }
        .page-spinner {
            display: inline-block;
            width: 2.75rem;
            height: 2.75rem;
            margin-bottom: 0.75rem;
            vertical-align: text-bottom;
            background-color: #d7dde2;
            border-radius: 50%;
            opacity: 0;
            -webkit-animation: spinner 0.75s linear infinite;
            animation: spinner 0.75s linear infinite;
        }
        .dark-mode .page-spinner {
            background-color: rgba(255, 255, 255, 0.25);
        }
        @-webkit-keyframes spinner {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            50% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }
        @keyframes spinner {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            50% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }
    </style>
    <!-- Page loading scripts-->
    <script>
        (function () {
            window.onload = function () {
                const preloader = document.querySelector(".page-loading");
                preloader.classList.remove("active");
                setTimeout(function () {
                    preloader.remove();
                }, 1500);
            };
        })();
    </script>
    <!-- Import Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap"
            rel="stylesheet"
            id="google-font"
    />
    <!-- Vendor styles-->
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../assets/css/theme.min.css" />
</head>
<!-- Body-->
<body>
<!-- Page loading spinner-->
<div class="page-loading active">
    <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
    </div>
</div>
<!-- Page wrapper-->
<main class="page-wrapper">
    <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
    <header class="navbar navbar-expand-lg fixed-top bg-light">
        <div class="container">
            <a href="/members/main" class="navbar-brand">
          <span class="text-primary flex-shrink-0 me-2">
            <svg version="1.1" width="35" height="32" viewBox="0 0 36 33" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" d="M35.6,29c-1.1,3.4-5.4,4.4-7.9,1.9c-2.3-2.2-6.1-3.7-9.4-3.7c-3.1,0-7.5,1.8-10,4.1c-2.2,2-5.8,1.5-7.3-1.1c-1-1.8-1.2-4.1,0-6.2l0.6-1.1l0,0c0.6-0.7,4.4-5.2,12.5-5.7c0.5,1.8,2,3.1,3.9,3.1c2.2,0,4.1-1.9,4.1-4.2s-1.8-4.2-4.1-4.2c-2,0-3.6,1.4-4,3.3H7.7c-0.8,0-1.3-0.9-0.9-1.6l5.6-9.8c2.5-4.5,8.8-4.5,11.3,0L35.1,24C36,25.7,36.1,27.5,35.6,29z">
            </svg>
          </span>
                S-With
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarCollapse1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a href="/match" class="nav-link">모집라운지</a>
                    </li>
                    <li class="nav-item">
                        <a href="/teams" class="nav-link">서포터팀</a>
                    </li>

                    <li class="nav-item">
                        <a href="/stories" class="nav-link">스토리</a>
                    </li>

                </ul>

                <div class="navbar-nav ml-auto">
                    <div class="container d-flex justify-content-right">
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                구인/팀 & 스토리생성
                            </button>
                            <div class="dropdown-menu dropdown-menu-end my-1">
                                <a href="/match/posts" class="dropdown-item">모집글 생성</a>
                                <!--<a href="/match/posts" class="dropdown-item">체육활동지원 모집하기</a>
                                <a href="/match/posts" class="dropdown-item">운동친구 모집하기</a>-->
                                <div class="dropdown-divider"></div>
                                <div><hr/></div>
                                <a href="/teams/posts" class="dropdown-item">서포터팀 생성</a>
                                <a href="/stories/posts" class="dropdown-item">스토리 생성</a>
                            </div>
                        </div>
                    </div>
                    <th:block th:with="user=${#session.getAttribute('user')}">
                        <!--로그인하지 않았을때-->
                        <div th:if="${user == null}">
                            <a href="/members/signin" class="btn btn-primary btn-sm fs-sm ms-3 mb-4 mb-lg-0">
                                <i class="ai-user me-2 ms-n1"></i>
                                로그인
                            </a>
                        </div>
                        <!--로그인 했을 때-->
                        <div th:if="${user != null}">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" th:text="${#session.getAttribute('user').nickname}"></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/info/mypage" class="dropdown-item">마이페이지</a></li>
                                        <li><a href="/info/history" class="dropdown-item">내 활동내역</a></li>
                                        <li><a href="/logout" class="dropdown-item" style="color: red">log out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </th:block>
                </div>
            </nav>
        </div>
    </header>
    <!-- Page content-->
    <div class="container pt-5 pb-lg-5 pb-md-4 pb-2 my-5">
        <!-- Page title + filters-->
        <div class="row align-items-center gy-2 mb-4 pb-1 pb-sm-2 pb-lg-3">
            <div class="col-lg-5">
                <h1 class="mb-lg-0">서포터팀 조회</h1>
            </div>
            <div class="col-xl-2 offset-xl-1 col-lg-3 col-sm-5">
                <select  id="category-input" class="form-select">
                    <option value="2">전체</option>
                    <option value="1">모집중</option>
                    <option value="0">모집완료</option>
                </select>
            </div>
            <div class="col-lg-4 col-sm-7">
                <div class="position-relative">
                    <i
                            class="ai-search position-absolute top-50 start-0 translate-middle-y ms-3"
                    ></i>
                    <input  id="search-input"
                            class="form-control ps-5"
                            type="search"
                            placeholder="지역을 입력하세요."
                    />
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $('#search-input').on('keyup',function(e){
                    //엔터키가 눌렸는지 확인(키코드 13)
                    if (e.keyCode == 13) {
                        e.preventDefault();
                        //검색어 가져오기
                        let category = document.getElementById('category-input').value;
                        const searchTerm = $(this).val();
                        //Ajax요청보내기
                        sendSearchRequest(category, searchTerm);
                    }
                })
            })

            function sendSearchRequest(category, keyword){
                $.ajax({
                    url:"/teams/search/" + category +"/" + keyword,
                    method: "GET",
                    success: function (dtoList) {
                        console.log("검색조건 리스트 반영 성공");
                        updateResults(dtoList);
                    },
                    error: function (e) {
                        console.log("검색조건 리스트 반영 실패");
                    },
                })
            }

            function updateResults(dtoList) {
                $('#items').empty();

                dtoList.forEach(dto => {
                    //여기에서 HTML 구조를 작성하고 데이터를 사용하여 채움
                    const finishedBadge = dto.finished ? "모집중" : "모집완료";
                    const HTML = `
                     <article id="itemsGrid" class="masonry-grid-item">
                 <div class="card border-0 bg-secondary">
                     <img
                             class="card-img-top"
                             src="/img/`+dto.image_team+`"
                             style="height:200px"
                     />
                     <div class="card-body pb-4">
                         <div  class="d-flex align-items-center mb-4 mt-n1">
                   <span class="fs-sm">${dto.deadline}</span
                   ><span class="fs-xs mx-3"><a class="badge text-nav fs-xs border" href="#">${dto.sido} ${dto.sigungu}</a></span
                         ><a class="badge text-nav fs-xs border" style="color:#FF0000 !important;">${finishedBadge}</a>
                         </div>
                         <h3 class="h4 card-title">
                             <a href="/teams/${dto.team_title}">${dto.team_title}</a>
                         </h3>
                         <p class="card-text">
                             ${dto.simple_content}
                         </p>
                     </div>
                     <div class="card-footer pt-3  d-flex align-items-center justify-content-between">
                         <a
                                 class="d-flex align-items-center text-decoration-none pb-2"

                         ><img
                                 class="rounded-circle"
                                 src="../assets/img/swith/free-icon-user-profile-3364044.png"
                                 width="48"
                         />
                             <h6 class="ps-3 mb-0">${dto.nickname}</h6></a
                         ><span><i class="ai-user">${dto.chatMember}/${dto.member_num}</i></span>
                     </div>
                 </div>
             </article>`;
                    $('#items').append(HTML);
                });
            }
        </script>
        <!-- Blog grid (masonry)-->
        <div id="items" class="masonry-grid mb-2 mb-md-4 pb-lg-3" data-columns="3">
            <!--Blog item-->
            <article th:each="dto : ${dtoList}" id="itemsGrid" class="masonry-grid-item">
                <div class="card border-0 bg-secondary">
                    <img
                            class="card-img-top"
                            th:src="|/img/${dto.image_team}|"
                            style=" height:200px;"
                    />
                    <div class="card-body pb-4" style="height:200px;">
                        <div th:switch="${dto.finished}" class="d-flex align-items-center mb-4 mt-n1">
                   <span class="fs-sm "th:text="${dto.deadline}"></span
                   ><span class="fs-xs mx-3"><a class="badge text-nav fs-xs border" href="#">[[${dto.sido}]] [[${dto.sigungu}]]</a></span
                        ><a class="badge text-nav fs-xs border" th:case="false">모집중</a>
                            <a class="badge text-nav fs-xs border" style="color:#FF0000 !important;"  th:case="true">모집완료</a>
                        </div>
                        <h3 class="h4 card-title">
                            <a th:href="@{/teams/{team_title}(team_title=${dto.team_title})}">[[${dto.team_title}]]</a>
                        </h3>
                        <p class="card-text">
                            [[${dto.simple_content}]]
                        </p>
                    </div>
                    <div class="card-footer pt-3  d-flex align-items-center justify-content-between">
                        <a
                                class="d-flex align-items-center text-decoration-none pb-2"
                                href="#"
                        ><img
                                class="rounded-circle"
                                src="../assets/img/swith/free-icon-user-profile-3364044.png"
                                width="48"
                                alt="Post author"
                        />
                            <h6 class="ps-3 mb-0">[[${dto.nickname}]]</h6></a
                        ><span><i class="ai-user">[[${dto.chatMember}]]/[[${dto.member_num}]]</i></span>
                    </div>
                </div>
            </article>
        </div>
        <!-- Pagination-->
        <!--<div class="row gy-3 align-items-center mb-md-2 mb-xl-4">
            <div class="col col-md-4 col-6 order-md-1 order-1">
                <div class="d-flex align-items-center">
                    <span class="text-muted fs-sm">Show</span>
                    <select class="form-select form-select-flush w-auto">
                        <option value="6">6</option>
                        <option value="9" selected>9</option>
                        <option value="12">12</option>
                        <option value="24">24</option>
                    </select>
                </div>
            </div>
            <div class="col col-md-4 col-12 order-md-2 order-3 text-center">
                <button class="btn btn-primary w-md-auto w-100" type="button">
                    Load more posts
                </button>
            </div>
            <div class="col col-md-4 col-6 order-md-3 order-2">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm justify-content-end">
                        <li class="page-item active" aria-current="page">
                  <span class="page-link"
                  >1<span class="visually-hidden">(current)</span></span
                  >
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                    </ul>
                </nav>
            </div>
        </div>-->
    </div>
</main>
<!--Footer-->
<footer class="footer bg-light py-5 mt-3" style="position: relative">
    <div class="container">
        <ul class="nav justify-content- py-1 pb-sm-1">
            <li class="nav-item">
                <a
                        class="nav-link py-1 pt-2 px-3 mx-1"
                        href="#"
                        style="font-size: 1.6rem; font-family: Arial"
                >S-With</a
                >
            </li>
        </ul>
        <ul class="nav">
            <li
                    class="nav-item"
                    style="margin-right: auto; padding-left: 10px; color: gray"
            >
                contact wnduq@gmail.com
            </li>
            <a class="nav-link py-1 px-3 mx-1" href="#" style="color: gray"
            >이용약관</a
            >
            <a class="nav-link py-1 px-3 mx-1" href="#" style="color: gray"
            >개인정보처리방침</a
            >
            <a class="nav-link py-1 px-3 mx-1" href="#" style="color: gray"
            >서비스소개</a
            >
        </ul>
        <ul class="nav">
            <li
                    class="nav justify-content"
                    style="margin-right: auto; padding-left: 10px; color: gray"
            >
                Copyright S-With. All rights reserved
            </li>
        </ul>
    </div>
</footer>
<!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll>
    <svg
            viewBox="0 0 40 40"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
    >
        <circle
                cx="20"
                cy="20"
                r="19"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-miterlimit="10"
        ></circle></svg
    ><i class="ai-arrow-up"></i
></a>





<!-- Vendor scripts: js libraries and plugins-->
<script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="../assets/vendor/shufflejs/dist/shuffle.min.js"></script>
<!-- Main theme script-->
<script src="../assets/js/theme.min.js"></script>
</body>
</html>
