<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">






   <!-- TOAST UI Editor CDN URL(CSS)-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
   <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />


</head>
<body>
<<!-- Menu with dropdown + Button -->

<header class="navbar navbar-expand-lg fixed-top bg-light">
  <div class="container">
    <a href="index.html" class="navbar-brand">
      <span class="text-primary flex-shrink-0 me-2">
        <svg version="1.1" width="35" height="32" viewBox="0 0 36 33" xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor" d="M35.6,29c-1.1,3.4-5.4,4.4-7.9,1.9c-2.3-2.2-6.1-3.7-9.4-3.7c-3.1,0-7.5,1.8-10,4.1c-2.2,2-5.8,1.5-7.3-1.1c-1-1.8-1.2-4.1,0-6.2l0.6-1.1l0,0c0.6-0.7,4.4-5.2,12.5-5.7c0.5,1.8,2,3.1,3.9,3.1c2.2,0,4.1-1.9,4.1-4.2s-1.8-4.2-4.1-4.2c-2,0-3.6,1.4-4,3.3H7.7c-0.8,0-1.3-0.9-0.9-1.6l5.6-9.8c2.5-4.5,8.8-4.5,11.3,0L35.1,24C36,25.7,36.1,27.5,35.6,29z">
        </svg>
      </span>
      S-with
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse1">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbarCollapse1">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a href="#" class="nav-link">매칭라운지</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">서포터팀</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">플레이윗미</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">스토리</a>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">구인/팀 & 스토리 생성</a>
          <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item">서포터 구하기</a></li>
            <li><a href="#" class="dropdown-item">활동지원 해드림</a></li>
            <li><a href="#" class="dropdown-item">플레이메이트 구하기</a></li>
            <li class="dropdown-divider"> </li>
            <li href="#"><a class="dropdown-item">서포터 팀 생성</a></li>
            <li href="#"><a class="dropdown-item">스토리 생성</a></li>
          </ul>
        </li>
      </ul>

      <a href="#" class="btn btn-primary btn-sm fs-sm ms-3 mb-4 mb-lg-0">
        <i class="ai-user me-2 ms-n1"></i>
        로그인
      </a>
    </nav>
  </div>
</header>

<div class="header" style="background-color: #57B0E2; color:white; height: 180px; padding-top: 60px; padding-bottom: 60px;">
  <div class="container me-auto">
    <h1 class="text-color padding">매칭 수정</h1>
 
    <h1 class="text-color padding" style="font-size: 1rem; padding-top: 10px;">다양한 사람들과 함께 체육활동을 즐겨보세요!</h1>

  </div>
</div>

<div class="container" style="padding-left: 80px;">

  <h1 style="font-size: 1.5rem; padding-top: 40px; color: #57B0E2; ">* 유형</h1>









  <style>
    input[type="radio"][name="radio-button"]:checked + label {
      
      color: blue; 
      font-weight: bold; 
    }
  </style>

  <div name="b_category" style="padding-top: 20px; ">
    <input type="radio" name="b_category" id="radio-1" checked disabled>
    <label for="radio-1" style="padding-right:310px ;">서포터구인</label>


    <input type="radio" name="b_category" id="radio-2" disabled>
    <label for="radio-2" style="padding-right:280px ;">활동지원</label>

    <input type="radio" name="b_category" id="radio-3" disabled>
    <label for="radio-3">플레이윗미</label>
  </div>









  <h1 style="font-size: 1rem;
  background-color: #ccffff;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 30px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  display: inline-block; ">체육활동 시 도움이 필요한 경우 생성해주세요!</h1>

<h1 style="font-size: 1rem;
background-color: #ccffff;
margin-top: 20px;
margin-bottom: 40px;
margin-right: 30px;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 20px;
display: inline-block; ">활동지원이 필요한 사람들을 모집합니다!</h1>
  
  <h1 style="font-size: 1rem;
background-color: #ccffff;
margin-top: 20px;
margin-bottom: 40px;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 20px;
display: inline-block; ">함께 운동할 사람들을 모집합니다!</h1>

<ul class="nav" style="padding-bottom: 20px;">
  <li style="font-size: 1.5rem; color: #57B0E2; padding-right: 80px;">* 운동종목</li>
  <li style="font-size: 1.5rem; color: #57B0E2; padding-right: 315px;">* 지역</li>
  <li style="font-size: 1.5rem; color: #57B0E2; padding-right: 50px;">* 활동시작일</li>
  <li style="font-size: 1.5rem; color: #57B0E2; ">* 활동종료일</li>
</ul>

<style>
  select {
    height: 40px;
    width: 160px;
    margin-right: 25px;
  
  }
  
  </style>





<div>
  <form action="/match/matching-modify" method="post">





  <select name="exercise" id="sport-select">
<!--    <option selected disabled hidden>운동 선택</option>-->
    <option selected th:text="${dto.exercise}"></option>
    <option value="골프">골프</option>
    <option value="농구">농구</option>
    <option value="댄스 스포츠">댄스 스포츠</option>
    <option value="론볼">론볼</option>
    <option value="배드민턴">배드민턴</option>
    <option value="보치아">보치아</option>
    <option value="사격">사격</option>
    <option value="수영">수영</option>
    <option value="승마">승마</option>
    <option value="사이클">사이클</option>
    <option value="양궁">양궁</option>
    <option value="역도">역도</option>
    <option value="요트">요트</option>
    <option value="유도">유도</option>
    <option value="육상">육상</option>
    <option value="조정">조정</option>
    <option value="배구">배구</option>
    <option value="축구">축구</option>
    <option value="탁구">탁구</option>
    <option value="볼링">볼링</option>
    <option value="휠체어 럭비">휠체어 럭비</option>
    <option value="휠체어 테니스">휠체어 테니스</option>
    <option value="휠체어 펜싱">휠체어 펜싱</option>
    <option value="태권도">태권도</option>
    <option value="카누">카누</option>
    <option value="트라이애슬론">트라이애슬론</option>
    <option value="아이스 하키">아이스 하키</option>
    <option value="알파인 스키">알파인 스키</option>
    <option value="노르딕 스키">노르딕 스키</option>
    <option value="휠체어 컬링">휠체어 컬링</option>
    <option value="스노보드">스노보드</option>
  </select>
  
  <script>
    const sportSelect = document.getElementById("sport-select");
  
    sportSelect.addEventListener("change", function() {
      const selectedSport = sportSelect.value;
      console.log(`Selected sport: ${selectedSport}`);
    });
  </script>
  

<select name="region" id="city" onchange="updateDistricts(); updateDistricts1();">
<!--  <option selected disabled hidden value="">도시 선택</option>-->
  <option selected th:text="${dto.region.substring(0,2)}" ></option>

  <option value="서울">서울</option>
  <option value="경기">경기</option>
  <option value="인천">인천</option>
  <option value="부산">부산</option>
  <option value="대구">대구</option>
  <option value="광주">광주</option>
  <option value="대전">대전</option>
  <option value="울산">울산</option>
  <option value="세종">세종</option>
  <option value="강원">강원</option>
  <option value="경남">경남</option>
  <option value="경북">경북</option>
  <option value="전남">전남</option>
  <option value="전북">전북</option>
  <option value="충남">충남</option>
  <option value="충북">충북</option>
  <option value="제주">제주</option>
</select>


<select name="region" id="district">


  <option selected th:text="${dto.region.substring(3, (dto.region.length() >= 7 ? 7 : (dto.region.length() >= 6 ? 6 : (dto.region.length() >= 5 ? 5 : (dto.region.length() >= 4 ? 4 : 3)))))}"></option>



</select>

<script>
  const districtsByCity = {
    서울: [
      "강남구",
      "강동구",
      "강북구",
      "강서구",
      "관악구",
      "광진구",
      "구로구",
      "금천구",
      "노원구",
      "도봉구",
      "동대문구",
      "동작구",
      "마포구",
      "서대문구",
      "서초구",
      "성동구",
      "성북구",
      "송파구",
      "양천구",
      "영등포구",
      "용산구",
      "은평구",
      "종로구",
      "중구",
      "중랑구",
    ],
    경기: [
      "가평군",
      "고양시",
      "과천시",
      "광명시",
      "광주시",
      "구리시",
      "군포시",
      "김포시",
      "남양주시",
      "동두천시",
      "부천시",
      "성남시",
      "수원시",
      "시흥시",
      "안산시",
      "안성시",
      "안양시",
      "양주시",
      "양평군",
      "여주시",
      "연천군",
      "오산시",
      "용인시",
      "의왕시",
      "의정부시",
      "이천시",
      "파주시",
      "평택시",
      "포천시",
      "하남시",
      "화성시",
    ],

    인천: [
      "강화군",
      "계양구",
      "남동구",
      "동구",
      "미추홀구",
      "부평구",
      "서구",
      "연수구",
      "옹진군",
      "중구",
    ],
    부산: [
      "강서구",
      "금정구",
      "기장군",
      "남구",
      "동구",
      "동래구",
      "부산진구",
      "북구",
      "사상구",
      "사하구",
      "서구",
      "수영구",
      "연제구",
      "영도구",
      "중구",
      "해운대구",
    ],

    대구: [
      "남구",
      "달서구",
      "달성군",
      "동구",
      "북구",
      "서구",
      "수성구",
      "중구",
    ],
    광주: ["광산구", "남구", "동구", "북구", "서구"],
    대전: ["대덕구", "동구", "서구", "유성구", "중구"],
    울산: ["남구", "동구", "북구", "울주군", "중구"],
    세종: ["금산", "부강", "청원"],
    강원: [
      "강릉시",
      "고성군",
      "동해시",
      "삼척시",
      "속초시",
      "양구군",
      "양양군",
      "영월군",
      "원주시",
      "인제군",
      "정선군",
      "철원군",
      "춘천시",
      "태백시",
      "평창군",
      "홍천군",
      "화천군",
      "횡성군",
    ],
    경남: [
      "거제시",
      "거창군",
      "고성군",
      "김해시",
      "남해군",
      "밀양시",
      "사천시",
      "산청군",
      "양산시",
      "의령군",
      "진주시",
      "창녕군",
      "창원시",
      "통영시",
      "하동군",
      "함안군",
      "함양군",
      "합천군",
    ],
    경북: [
      "경산시",
      "경주시",
      "고령군",
      "구미시",
      "군위군",
      "김천시",
      "문경시",
      "봉화군",
      "상주시",
      "성주군",
      "안동시",
      "영덕군",
      "영양군",
      "영주시",
      "영천시",
      "예천군",
      "울릉군",
      "울진군",
      "의성군",
      "청도군",
      "청송군",
      "칠곡군",
      "포항시",
    ],
    전남: [
      "강진군",
      "고흥군",
      "곡성군",
      "광양시",
      "구례군",
      "나주시",
      "담양군",
      "목포시",
      "무안군",
      "보성군",
      "순천시",
      "신안군",
      "여수시",
      "영광군",
      "영암군",
      "완도군",
      "장성군",
      "장흥군",
      "진도군",
      "함평군",
      "해남군",
      "화순군",
    ],
    전북: [
      "고창군",
      "군산시",
      "김제시",
      "남원시",
      "무주군",
      "부안군",
      "순창군",
      "완주군",
      "익산시",
      "임실군",
      "장수군",
      "전주시",
      "정읍시",
      "진안군",
    ],
    충남: [
      "계룡시",
      "공주시",
      "금산군",
      "논산시",
      "당진시",
      "보령시",
      "부여군",
      "서산시",
      "서천군",
      "아산시",
      "예산군",
      "천안시",
      "청양군",
      "태안군",
      "홍성군",
    ],
    충북: [
      "괴산군",
      "단양군",
      "보은군",
      "영동군",
      "옥천군",
      "음성군",
      "제천시",
      "증평군",
      "진천군",
      "청주시",
      "충주시",
    ],
    제주: ["제주시", "서귀포시"],
  };

  function updateDistricts() {
    const citySelect = document.getElementById("city");
    const districtSelect = document.getElementById("district");

    const selectedCity = citySelect.value;
    const districts = districtsByCity[selectedCity];


    // 기존 옵션 제거
    districtSelect.innerHTML = "";

    // 새로운 옵션 생성
    if (districts) {
      for (const district of districts) {
        const option = document.createElement("option");
        option.value = district;
        option.innerText = district;
        districtSelect.appendChild(option);
      }
    }
  }
</script>

    <input name="startdate" type="datetime-local" style="width: 210px; height: 40px; margin-right: 25px;" th:value="${dto.startdate}">
  <!--<input type="datetime-local" style=" width: 160px; height: 40px;">-->


 <!-- <label for="datetime">날짜와 시간을 입력하세요1</label>
  <input type="datetime-local" id="datetime" name="datetime" value="2023-04-28T13:30">-->
    <input name="enddate" type="datetime-local" style="width: 210px; height: 40px; margin-right: 25px;" th:value="${dto.enddate}">
<!--  <input type="datetime-local" id="datetime" name="datetime" value="${dto.startdate}">-->





  <ul class="nav" style="padding-top: 40px; padding-bottom: 20px;">
    <li style="font-size: 1.5rem; color: #57B0E2; padding-right: 220px;">* 모집인원</li>
    <li style="font-size: 1.5rem; color: #57B0E2; padding-right: 230px;"> 체육시설</li>
    <li style="font-size: 1.5rem; color: #57B0E2; padding-right: 31px;"> 지원종류</li>
    
  
  </ul>

  <select name="recruitsNum" style="height: 40px; width: 300px; margin-right: 25px; ">
    <option selected th:text="${dto.recruitsNum}"></option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
  </select>

   <select name="sportsfacility" id="district2" style="width:300px;">
     <option selected th:text="${dto.sportsfacility}"></option>
  </select>


  <script>
    const districtsByCity2 = {
      서울: [
      "기타",
        "SRC 서울선터",
        "서울곰두리체육센터",
        "서부재활체육센터",
        "동천재활체육센터","마포푸르메스포츠센터","서울수중재활센터","기쁜우리체육센터","정립회관(체육센터)",
   
      ],
      gyeonggi: [
      "기타","광명시장애인종합복지관체육관","홀트장애인종합체육관","고양시재활스포츠센터","성분도복지관(체육관)","명휘체육센터","수원시장애인종합복지관(수영장)","SRC재활체육관","보훈재활체육센터","성남시한마음복지관","안양시수리장애인복지관","시흥어울림국민체육센터",
     
        
      ],
  
      incheon: [
      "기타",
        "인천광역시장애인체육관",
        "인천광역시장애인국민체육센터",
      ],
      busan: [
      "기타",
        "서부산권장애인스포츠센터","부산곰두리스포츠센터","부산한마음스포츠센터"
   
       
      ],
  
      daegu: [
      "기타",
        "대구장애인종합복지관",
        "대국광역시 달구벌재활스포츠센터",
        "대구광역시장애인국민체육센터",
      ],
      gwangju: [ "기타","광주광역시장애인종합체육관","광주광역시장애인국민체육센터","광주북구반다비체육센터"],
      daejeon: [ "기타","대전광역시장애인체육센터","시립산성종합복지관","대전광역시서구건강체련관","성세체육관","유성구장애인종합복지관(체육관)","대전광역시립체육재활원","대덕구장애인종합복지관","동구아름다운복지관",],
      ulsan: [ "기타","울산광역시장애인체육관","울산광역시제2장애인체육관",],
      sejong: ["기타","세종시장애인형국민체육센터"],
      gangwon: ["기타",
      "원주드림체육관","춘천장애인스포츠센터","홍천군장애인체육센터"
   
      ],
      gyeongnam: [ "기타",
      "창원시장애인종합복지관(체육관)","창원시립곰두리국민체육센터","사천시장애인국민체육센터","양산반다비체육센터"
      ],
      gyeongbuk: [ "기타",
        "상주시장애인","종합복지관(체육관)","경주시장애인체육관","구미시장애인체육관","애명체육관","문경시온누리체육관",
      ],
      jeonnam: ["기타",
      "전라남도장애인종합복지관(체육관)","여수시장애인국민체육센터","광양장애인국민체육센터","해남군다목적생활체육관",
      
      ],
      jeonbuk: ["기타",
      "전라북도장애인복지관(체육관)","정읍곰두리스포츠센터","김제시장애인체육관","군산시애인체육관","전주어울림국민체육센터","익산반다비체육센터"
      
      ],
      chungnam: ["기타",

      "정심체육관","천안시장애인종합체육관","홍성군장애인스포츠센터","아산장애인국민체육센터",
      ],
      chungbuk: [ "기타",
      "충주시장애인형국민체육센터","충청북도곰두리체육관","제천시어울림체육센터","청주시장애인스포츠센터","보은군장애인회관",
        
      ],
      jeju: [ "기타","제주특별자치도장애인스포츠센터(추후개관예정)"],
    };
  
    function updateDistricts1() {
      const citySelect2 = document.getElementById("city");
      const districtSelect2 = document.getElementById("district2");
  
      const selectedCity2 = citySelect2.value;
      const districts2 = districtsByCity2[selectedCity2];
  
      // 기존 옵션 제거
      districtSelect2.innerHTML = "";
  
      // 새로운 옵션 생성
      if (districts2) {
        for (const district2 of districts2) {
          const option2 = document.createElement("option");
          option2.value = district2;
          option2.innerText = district2;
          districtSelect2.appendChild(option2);
        }
      }
    }
  </script>

 
  <select name="supporttype" style="height: 40px; width: 300px; margin-right: 25px; ">
    <option selected th:text="${dto.supporttype}"></option>
    <option>이동지원</option>
    <option>활동지원</option>
    <option>기타지원</option>
  
  </select>
  
  <h1 style="font-size: 1.5rem; color: #57B0E2; padding-right: 340px; padding-top: 40px; padding-bottom: 20px;">* 제목</h1>
    <input name="title" type="text" minlength='5' maxlength='30' style="height: 40px; width: 950px; margin-right: 25px;" th:value="${dto.title}">

    <h1 style="font-size: 1.5rem; color: #57B0E2; padding-right: 340px; padding-top: 40px; padding-bottom: 20px;">* 내용</h1>


</div>
    <!-- TOAST UI Editor가 들어갈 div태그 -->
    <div name="content" id="editor">
        <p></p>
    </div>



        <!-- TOAST UI Editor CDN URL(JS) -->
    <script  src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

    <!-- TOAST UI Editor 생성 JavaScript 코드 -->
    <script>
        const editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            height: '600px',
            language: 'ko-KR',
        });

    </script>








    <input type="hidden" name="board_no" th:value="${dto.board_no}" readonly></input>
    <input type="hidden" name="b_category" th:value="${dto.b_category}" readonly></input>
</div>
  <div class="container d-flex justify-content-center" style="padding-top: 50px;">

    <a type="button" style="width:100px; height:40px; background-color: gray; border: none; padding-top: 12px;" class="btn btn-success ms-2" th:href="@{/match/matching-view?board_no={id}(id=${dto.board_no})}">작성취소</a>
    <button type="submit" style="width:100px; height:40px; background-color: indigo; border: none; padding-top: 12px;" class="btn btn-success ms-2" >수정완료</button>





</form>
<form action="/remove" method="post">
    <input type="hidden" name="board_no" th:value="${dto.board_no}" readonly></input>
    <button type="submit" style="width:100px; height:40px; background-color: #e1f0d8; border: none; padding-top: 12px;" class="btn btn-info" >삭제</button>
</form>
  </div>








<br>
<br>
<br>
<br>
<br>
<br>
<footer class="footer dark-mode bg-light py-5" style="position: relative; bottom: 0;">
  <div class="container">
    <ul class="nav justify-content- py-1 pb-sm-1">
      <li class="nav-item"><a class="nav-link py-1 px-3 mx-1" href="#" style="font-size: 1.6rem; font-family: Arial; ">S-With</a></li>
    </ul>
    <ul class="nav">
      <li class="nav-item" style="margin-right: auto; padding-left:10px ; color: gray;">contact wnduq@gmail.com</li>
      <a class="nav-link py-1 px-3 mx-1" href="#" style="color: gray;">이용약관</a>
      <a class="nav-link py-1 px-3 mx-1" href="#" style="color: gray;">개인정보처리방침</a>
      <a class="nav-link py-1 px-3 mx-1" href="#" style="color: gray;">서비스소개</a>
    </ul>
    <ul class="nav">
      <li class="nav justify-content" style="margin-right: auto; padding-left:10px; color: gray;">Copyright S-With. All rights reserved
      </li>
    </ul>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>